<section class="container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <p
      class="message mb-4 text-sm font-medium text-stone-600 sm:text-base mb-4"
    >
      {{ this.messgae }}
    </p>
    <input
      *ngIf="!isLogin"
      required
      id="userName"
      name="userName"
      [(ngModel)]="userName"
      ngModel
      type="text"
      placeholder="Your full name"
    />
    <small
      *ngIf="
        loginForm.submitted &&
        loginForm.controls['userName'].errors?.['required']
      "
      >Please Enter Your Name</small
    >
    <div>
      <button class="navigate-btn" (click)="navigateToProducts()">
        {{ this.buttonContent }}
      </button>
    </div>
  </form>
</section>
